/*
* @Author: Marte
* @Date:   2017-09-22 08:56:56
* @Last Modified by:   Marte
* @Last Modified time: 2017-09-22 11:00:59
*/
@charset "utf-8";
*{
  margin:0px;
  padding:0px;
  text-decoration:none;
  box-sizing:border-box;
  font-size:.14rem;
  font-style:normal;
  font-weight:normal;
  font-family:"黑体";
}
ul,li{
  list-style:none;
}
html{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    font-size:625%;
}
img,div,body,html,ul,li,a{
 -webkit-touch-callout: none;
}
input,button{
 outline:0;
}
button{
 cursor:pointer;
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    color: #ccc;
}
html,body,.wrap,.search{
    width:100%;
    height:100%;
}
body{
  font-size:.32rem;
}
.wrap,.search{
  display: flex;
  flex-direction:column;
  overflow:hidden;
}
header{
  width:100%;
  height:.8rem;
  background: #FE5F00;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  a{
    color:#fff;
    input{
      border:0;
      background: #FE5F00;
      border-bottom:1px solid #fff;
      width:100%;
    }
  }
}
header a:nth-child(2){
  flex:6;
  position: relative;
}
header a:nth-child(1),header a:nth-child(3){
  flex:2;
  display: flex;
  flex-direction: column;
  text-align: center;
}
main{
  flex:1;
  overflow-y:scroll;
  .banner{
    width:100%;
    height:3rem;
    img{
      width:100%;
      height:3rem;
    }
  }
  .listing{
    width:100%;
    height:2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
    li{
      width:20%;
      display: flex;
      flex-direction: column;
      text-align: center;
      i.icon{
        width:30px;
        height:30px;
        border-radius: 50%;
        line-height:30px;
        text-align: center;
        margin-left:.5rem;
        margin-bottom:.1rem;
        color: #fff;
      }
    }
  }
  .h3{
    width:100%;
    height:1rem;
    border-bottom:.15rem solid #F4F4F4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 .2rem;
    position: relative;
    span{
      position: absolute;
      width:30px;
      left:.2rem;
      color: #644243;
      font-weight:800;
    }
    slide{
      position: absolute;
      left:.8rem;
      p{
        line-height:.4rem;
        b{
          padding:.01rem .1rem;
          border:1px solid orange;
          border-radius: 3px;
          color:orange;

        }
      }
    }
  }
  .content{
    width:100%;
    height:auto;
    .h4{
      width:100%;
      height:.8rem;
      text-align: center;
      line-height:.8rem;
      font-size:.3rem;
      color: #FC4D06;
    }
    .h4:after{
      display: inline-block;
      content:'';
      width:30px;
      height:2px;
      margin-left:.2rem;
      vertical-align: middle;
      background: #FC4D06;
    }
    .h4:before{
      display: inline-block;
      content:'';
      width:30px;
      height:2px;
      margin-right:.2rem;
      vertical-align: middle;
      background: #FC4D06;
    }
    .cons{
      width:100%;
      height:auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap:wrap;
      .con{
        width:50%;
        .pic{
          width:100%;
          padding:0 .05rem;
          img{
            width:100%;
            height:auto;
          }
        }
        .text{
          h5{
            margin-bottom:.05rem;
          }
          b{
            color:#FC4D06;
            font-size:.3rem;
          }
        }
      }
    }
  }
}
footer{
  width:100%;
  height:.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .4rem;
  a{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #666;
  }
}
.header{
  width:100%;
  height:.8rem;
  background: #F9F9F9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  a{
    input{
      border:0;
      background: #F9F9F9;
      border-bottom:1px solid #ccc;
      width:100%;
    }
  }
  button{
      background: #FF7405;
      width:50px;
      height:.32rem;
      color:#fff;
      border:0;
      position: absolute;right:.2rem;
      top:.2rem;
      border-radius: 10px;
    }
}
main{
  flex:1;
  overflow-y: scroll;
  .list{
    width:100%;
    height:.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F9F9F9;
    li{
      flex:1;
      text-align: center;
    }
  }
  .line{
    width:33.33%;
    height:2px;
    background: #FF7405;
  }
  .searchCon{
    width:100%;
    height:3rem;
    .histroy{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 .2rem;
      height:.5rem;
    }
    .inner{
      width:100%;
      padding:0 .2rem;
      span{
        display: inline-block;
        padding:.05rem .1rem;
        height:.5rem;
        background: #F5F5F5;
        border-radius: 10px;
        line-height:.4rem;
        margin-bottom:.1rem;
      }
    }
  }
}
.footer{
  width:100%;
  height:.8rem;
  position: relative;
  input{
    text-align: center;
    line-height:.6rem;
    border:0;
    background:#EDEDED;
    border-radius: 15px;
    width:80%;
    margin:0 10%;
  }
  i.icon{
    position: absolute;
    left:30%;
  }
}
.search{
  position: fixed;
  top:0;
  right:-100%;
  background: #fff;
  z-index:666;
}